*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

html {
    overflow-x: hidden;
}


body{
  height: 100%;
  background-color: #000;
  width: 100%;
  font-size: 1rem;
}

h1, h2, h3 {
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
}

@media (max-width: 920px) {
  html {
    font-size: 95%;
  }
}

a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

  /* Header styles */
  header {
    background-color: #000;
  }
  
  .header nav {
    display: flex;
    width: 90%;
    min-height: 70px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    row-gap: 0em;
    flex-wrap: wrap;
}


.logo img {
  width: 210px;
  height: auto;
}

.navbar {
    display: flex;
    gap: 1em;
    align-items: center;;
}

.abt-link-btn,
.f-s-link,
.f-sp-link {
    text-decoration: none;
    color: #bdbaba;
    display: flex;
    align-items: center;
}

.abt-link-btn i,
.f-s-link i,
.f-sp-link i {
    margin-right: 0.3rem;
}

.link-bx {
    display: flex;
    gap: 2rem;
}

i {
  width: 100%;
  font-size: 1.4rem;
  cursor: pointer;
}

i.bx.bxs-group{
  font-size: 1.3rem;
  vertical-align: middle;
  width: 30px; 
  margin: 0;
}

i.bx.bx-store::before{
  font-size: 1.3rem;
  vertical-align: middle;
  padding: 0 5px 0 0;
}

i.bx.bx-support::before{
  font-size: 1.3rem;
  vertical-align: middle;
  padding: 0 5px 0 0;
}

 @media (max-width: 767px) {
  header {
    padding: 1em 0 2em;
  }

  header img {
    width: 190px;
  }

  .header nav {
    justify-content: center;
  }
 }

footer {
  background-color: #0f0f0f;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

footer div {
  display: flex;
  gap: 1em;
}

footer a {
  text-decoration: none;
  color: #bdbaba;
}

footer a:hover {
  text-decoration: underline;
}

footer p:last-child {
  color: #bdbaba;
  font-size: 0.9rem;
}

@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
  }
}