

/* main-bg rules here */

main {
  padding: 12em 0 5em;
  min-height: 81vh;
  background: url(/assets/images/homegif.gif) no-repeat;
  background-size: cover;
  background-position:center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 3em;
}

.hero-section {
  max-width: 34rem;
  width: 100%;
  padding: 0 1em;
}

.img-holder img {
width: 15rem;
}


h1{
  color: wheat;
  text-align: center;
  font-size: clamp(2.4rem, 5vw, 3rem);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  margin-bottom: 0.5em;
  font-style: italic;
}

.h1-f{
  color:#84a113 ;
}

p{
  color:#84a113 ;
  font-size: 1.4rem;
}

.btn-containers  {
display: flex;
width: fit-content;
margin: 0 auto;
gap: 1em;
flex-wrap: wrap;
}

.btn-containers a img {
width: 10rem;
}

@media (max-width: 767px) {
  main {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 0em;
  }

  .btn-containers a img {
    width: 9rem;
}
}


/* -----------------------------footer contents ends ---------------------------- */

/* /hover effects rules */

/* i.bx.bx-store::before */

/* i.bx.bx-support::before */
.abt-link-btn,
.f-s-link,
.f-sp-link,
i.bx.bxs-group,
i,
i.bx.bx-store::before,
i.bx.bx-support::before {
  transition: all 0.5s ease;  /* Add a smooth   transition */                                 
}

.abt-link-btn:hover,
.f-s-link:hover,
.f-sp-link:hover,
i.bx.bxs-group:hover,
i:hover,
i.bx.bx-store:hover::before,
i.bx.bx-support:hover::before {
  transform: scale(0.9); 
  background: linear-gradient(to right, rgb(148, 238, 3), black);
  border-radius: 10px;
}


.logo {
    position: relative;
    overflow: hidden;
  }
  
  .logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, hsla(98, 98%, 49%, 0.603), black);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  
  .logo:hover::before {
    transform: translateX(0);
  }


  .policy,
  .terms{
    transition: all 0.5s ease;
  }

  .policy:hover,
  .terms:hover{
    transform: scale(0.9); 
    background: linear-gradient(to right, rgb(148, 238, 3), black);
    border-radius: 10px;
  }

